
[submodule "mwr-tls"]
	path = mwr-tls
	url = https://github.com/bernard-wagner/mwr-tls.git

[submodule "mwr-android"]
	path = mwr-android
	url = https://github.com/bernard-wagner/mwr-android.git

[submodule "jdiesel"]
	path = jdiesel
	url = https://github.com/bernard-wagner/jdiesel.git
